<div class="page-header">
  <h1>Task Details</h1>
</div>

<dl class="dl-horizontal">

  <dt>Name</dt>
  <dd><%= @task.name %></dd>

  <dt>Category</dt>
  <dd><%= @task.category.name %></dd>

  <dt>Date</dt>
  <dd>
    <% if @task.date.present? %>
      <%= @task.date.strftime ('%A, %B %e, %Y') %>
    <% end %>
  </dd>

  <dt>Time</dt>
  <dd>
    <% if @task.time.present? %>
      <%= @task.time.strftime ('%I:%M%P') %>
    <% end %>
  </dd>

  <dt>Length</dt>
  <dd><%= @task.length %></dd>

  <dt>Priority</dt>
  <dd><%= @task.priority %></dd>

  <dt>Order</dt>
  <dd><%= @task.order %></dd>

  <!-- <dt>Repeat</dt>
  <dd><%= @task.repeat %></dd> -->

  <dt>Notes</dt>
  <dd><%= @task.notes %></dd>

  <!-- <dt>Date complete</dt>
  <dd><%= @task.date_complete %></dd> -->

</dl>
