<div class="page-header">
  <h1>Task Details</h1>
</div>

<dl class="dl-horizontal">

  <dt>Name</dt>
  <dd><%= @task.name %></dd>

  <dt>Category</dt>
  <dd><%= @task.category.name %></dd>

  <dt>Date</dt>
  <dd><%= @task.date %></dd>

  <dt>Time</dt>
  <dd><%= @task.time %></dd>

  <dt>Length</dt>
  <dd><%= @task.length %></dd>

  <dt>Order</dt>
  <dd><%= @task.order %></dd>

  <dt>Priority</dt>
  <dd><%= @task.priority %></dd>

  <dt>Repeat</dt>
  <dd><%= @task.repeat %></dd>

  <dt>Notes</dt>
  <dd><%= @task.notes %></dd>

  <dt>Status</dt>
  <dd><%= @task.status %></dd>

  <dt>Date complete</dt>
  <dd><%= @task.date_complete %></dd>

</dl>
