<div class="page-header">
  <h1>Task Details</h1>
</div>

<dl class="dl-horizontal">

  <dt>Name</dt>
  <dd><%= @task.name %></dd>

  <dt>Category</dt>
  <dd><%= @task.category.name %></dd>

  <dt>Date</dt>
  <dd>
    <% if @task.date.present? %>
      <%= @task.date.strftime ('%A, %B %e, %Y') %>
    <% end %>
  </dd>

  <dt>Time</dt>
  <dd>
    <% if @task.time.present? %>
      <%= @task.time.strftime ('%I:%M%P') %>
    <% end %>
  </dd>

  <dt>Length</dt>
  <dd>
    <% if @task.length == 15 %> 15 minutes
    <% elsif @task.length == 30 %> 30 minutes
    <% elsif @task.length == 45 %> 45 minutes
    <% elsif @task.length == 60 %> 1 hour
    <% elsif @task.length == 90 %> 1.5 hours
    <% elsif @task.length == 120 %> 2 hours
    <% elsif @task.length == 150 %> 2.5 hours
    <% elsif @task.length == 180 %> 3 hours
    <% elsif @task.length == 210 %> 3.5 hours
    <% elsif @task.length == 240 %> 4 hours
    <% elsif @task.length == 270 %> 4.5 hours
    <% elsif @task.length == 300 %> 5 hours
    <% end %>
  </dd>

  <dt>Priority</dt>
  <dd>
    <% if @task.priority == 1 %>
      High
    <% elsif @task.priority == 2 %>
      Medium
    <% elsif @task.priority == 3 %>
      Low
    <% end %>
  </dd>

  <dt>Order</dt>
  <dd><%= @task.order %></dd>

  <!-- <dt>Repeat</dt>
  <dd><%= @task.repeat %></dd> -->

  <dt>Notes</dt>
  <dd><%= @task.notes %></dd>

  <!-- <dt>Date complete</dt>
  <dd><%= @task.date_complete %></dd> -->

</dl>
